@model Fikri_MVC.Models.Consumer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consumer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fuel_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fuel_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Consumer_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
