@model IEnumerable<Fikri_MVC.Models.Consumer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fuel_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fuel_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Consumer_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Consumer_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Consumer_Id })
        </td>
    </tr>
}

</table>
